
.left-contents
  .left-contents__header
    .left-contents__header__box
      .left-contents__header__box__name
        %p keisuke
      .left-contents__header__box__icon
        = link_to "#", class: "left-contents__header__box__icon__btn " do
          %i.fas.fa-cog
        = link_to "#", class: "left-contents__header__box__icon__btn " do
          %i.far.fa-edit
  .left-contents__group
    .left-contents__group__list
      .left-contents__group__list__name
        %p techcamp
      .left-contents__group__list__message
        %p まだメッセージがありません
    .left-contents__group__list
      .left-contents__group__list__name
        %p techcamp
      .left-contents__group__list__message
        %p まだメッセージがありません
  