* {
  box-sizing: border-box;
}
.wrapper {
  display: flex;
  .left-contents {
    background-color: #253141;
    width: 300px;
    height: 100vh;
    &__header { 
      height: 100px;
      width: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
      &__box {
        width: 260px;
        height: 20px;
        display: flex;
        justify-content: space-between;
        line-height: 20px;
        &__name {
          width: 200px;
          color: $white;
          p {
            font-weight: bold;
          }
        }
        &__icon {
          width: 60px;
          color: $white;
          &__btn {
            i.fas.fa-cog {
              padding-left: 5px;
              line-height: 20px;
              color: $white;
              float: right;
            }
            i.far.fa-edit {
              float: right;
              line-height: 20px;
              color: $white;
            }
          }
        }
      }
    }
    &__group {
      height: calc(100vh - 100px);
      background-color: #2f3e51;
     &__list {
       height: 91px;
       position: relative;
       color: $white;
       &__name {
         width: 260px;
         height: 15px;
         position: absolute;
         top: 20px;
         right: 20px;
         color: $white;
        }
        &__message {
          height: 11px;
          width: 260px;
          position: absolute;
          top: 40px;
          right: 20px;
          color: $white;
        }
      }
    }
  }
  
  .right-contents {
    background-color: $white;
    width: calc(100vw - 300px);
    height: 100vh;
    &__group {
      height: 100px;
      padding: 0 40px;
      display: flex;
      justify-content: space-between;
      position: relative;
      &__name {
        &__box {
          margin-top: 35px;
          .menber-list {
            display: flex;
            font-size: 12px;
            color: #999999;
            margin-top: 12px;
            
          }
        }
      }
      &__edit {
        height: 40px;
        width: 72px;
        margin-top: 30px;
        border: solid 1px $litebule;
        &__btn {
          color: $litebule;
          padding: 0 20px;
          line-height: 40px;
        }
      }
    }
    &__message {
      height: calc(100vh - 190px);
      background-color: #fafafa;
      padding: 46px 40px;
      &__box {
        height: 54px;
        margin-bottom: 46px;
        &__name {
          height: 28px;
          display: flex;
          justify-content: flex-start;
          p {
            color: #333333;
            
          }
          h1 {
            font-size: 12px;
            color: #999999;
            padding-left: 20px;
          }
        }
        &__comment {
          height: 14px;
          padding-top: 12px;
          p {
            color: #434a54;
            font-size: 14px;
            line-height: 14px;
          }
        }
      }
    }
    &__from {
      height: 90px;
      background-color: #d2d2d2;
      padding: 20px 40px;
      &__box {
        display: flex;
        &__mask {
          width: 100%;
          position: relative;
          &__message-text {
           height: 50px;
           width: 100%;
           padding: 0 40px 0 10px;
          color: #434a54;
          }
          &__image {
            font-size: 1.3rem;
            position: absolute;
            top: 10px;
            right:10px;
            &__file {
              display: none;
            }
          }
        }
        &__btn {
          width: 100px;
          height: 50px;
          padding: 0 30px;
          background-color:$litebule;
          margin-left: 15px;
          color: $white;
        }
      }
    }
  }  
}
  